schema/condition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/scenario"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/scenario"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:include schemaLocation="shared.xsd"/>

    <x:complexType name="condition">
        <x:complexContent>
            <x:extension base="tns:abstractCommand">
                <x:attribute name="name" type="tns:nonEmptyString" use="required"/>
                <x:attribute name="spel" type="tns:nonEmptyString" use="required"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="uiCondition">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:attribute name="name" type="tns:nonEmptyString" use="required"/>
                <x:attribute name="spel" type="tns:nonEmptyString" use="required"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

</x:schema>
