schema/integration-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/global-config"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/global-config"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:annotation>
        <x:appinfo>
            <jaxb:bindings
                node="/x:schema/x:element[@name='integrations']//x:complexType//x:all">
            </jaxb:bindings>
        </x:appinfo>
    </x:annotation>

    <x:include schemaLocation="api-integration.xsd"/>
    <x:include schemaLocation="graphql-integration.xsd"/>
    <x:include schemaLocation="websocket-integration.xsd"/>
    <x:include schemaLocation="postgres-integration.xsd"/>
    <x:include schemaLocation="clickhouse-integration.xsd"/>
    <x:include schemaLocation="mysql-integration.xsd"/>
    <x:include schemaLocation="oracle-integration.xsd"/>
    <x:include schemaLocation="redis-integration.xsd"/>
    <x:include schemaLocation="mongo-integration.xsd"/>
    <x:include schemaLocation="s3-integration.xsd"/>
    <x:include schemaLocation="sqs-integration.xsd"/>
    <x:include schemaLocation="kafka-integration.xsd"/>
    <x:include schemaLocation="rabbitmq-integration.xsd"/>
    <x:include schemaLocation="dynamo-integration.xsd"/>
    <x:include schemaLocation="elasticsearch-integration.xsd"/>
    <x:include schemaLocation="lambda-integration.xsd"/>
    <x:include schemaLocation="sendgrid-integration.xsd"/>
    <x:include schemaLocation="ses-integration.xsd"/>
    <x:include schemaLocation="smtp-integration.xsd"/>
    <x:include schemaLocation="twilio-integration.xsd"/>
    <x:include schemaLocation="sqlDatabase-integration.xsd"/>

    <x:element name="integrations">
        <x:complexType>
            <x:all>
                <x:element name="apis" type="tns:apis" minOccurs="0"/>
                <x:element name="websockets" type="tns:websockets" minOccurs="0"/>
                <x:element name="graphqlIntegration" type="tns:graphqlIntegration" minOccurs="0"/>
                <x:element name="postgresIntegration" type="tns:postgresIntegration" minOccurs="0"/>
                <x:element name="clickhouseIntegration" type="tns:clickhouseIntegration" minOccurs="0"/>
                <x:element name="mysqlIntegration" type="tns:mysqlIntegration" minOccurs="0"/>
                <x:element name="oracleIntegration" type="tns:oracleIntegration" minOccurs="0"/>
                <x:element name="redisIntegration" type="tns:redisIntegration" minOccurs="0"/>
                <x:element name="mongoIntegration" type="tns:mongoIntegration" minOccurs="0"/>
                <x:element name="s3Integration" type="tns:s3Integration" minOccurs="0"/>
                <x:element name="sqsIntegration" type="tns:sqsIntegration" minOccurs="0"/>
                <x:element name="kafkaIntegration" type="tns:kafkaIntegration" minOccurs="0"/>
                <x:element name="rabbitmqIntegration" type="tns:rabbitmqIntegration" minOccurs="0"/>
                <x:element name="dynamoIntegration" type="tns:dynamoIntegration" minOccurs="0"/>
                <x:element name="elasticsearchIntegration" type="tns:elasticsearchIntegration" minOccurs="0"/>
                <x:element name="lambdaIntegration" type="tns:lambdaIntegration" minOccurs="0"/>
                <x:element name="sendgridIntegration" type="tns:sendgridIntegration" minOccurs="0"/>
                <x:element name="sesIntegration" type="tns:sesIntegration" minOccurs="0"/>
                <x:element name="smtpIntegration" type="tns:smtpIntegration" minOccurs="0"/>
                <x:element name="twilioIntegration" type="tns:twilioIntegration" minOccurs="0"/>
                <x:element name="sqlDatabaseIntegration" type="tns:sqlDatabaseIntegration" minOccurs="0"/>
            </x:all>
        </x:complexType>
    </x:element>
</x:schema>
