schema/lambda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/scenario"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/scenario"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:include schemaLocation="shared.xsd"/>

    <x:complexType name="lambda">
        <x:complexContent>
            <x:extension base="tns:abstractCommand">
                <x:sequence>
                    <x:element name="body" type="tns:lambdaBody"/>
                    <x:element name="response" type="tns:response"/>
                </x:sequence>
                <x:attribute name="alias" type="tns:aliasPattern" use="required"/>
                <x:attribute name="functionName" type="tns:nonEmptyString" use="required"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="lambdaBody">
        <x:choice>
            <x:element name="from" type="tns:file"/>
            <x:element name="raw" type="tns:nonEmptyString"/>
        </x:choice>
    </x:complexType>
</x:schema>
