schema/native-config.xsd

<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/global-config"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/global-config"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:include schemaLocation="shared-config.xsd"/>

    <x:complexType name="native">
        <x:complexContent>
            <x:extension base="tns:settings">
                <x:sequence>
                    <x:element name="connection" type="tns:connectionType"/>
                    <x:element name="devices" type="tns:nativeDevices"/>
                </x:sequence>
                <x:attribute name="enabled" type="x:boolean" use="required"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="nativeDevices">
        <x:sequence>
            <x:element name="device" type="tns:nativeDevice" maxOccurs="unbounded"/>
        </x:sequence>
    </x:complexType>

    <x:complexType name="nativeDevice">
        <x:complexContent>
            <x:extension base="tns:abstractDevice">
                <x:choice>
                    <x:element name="appiumCapabilities" type="tns:appiumNativeCapabilities"/>
                    <x:element name="browserStackCapabilities" type="tns:browserStackNativeCapabilities"/>
                </x:choice>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="appiumNativeCapabilities">
        <x:complexContent>
            <x:extension base="tns:appiumCapabilities">
                <x:choice>
                    <x:choice>
                        <x:element name="app" type="tns:nonEmptyString"/>
                    </x:choice>
                    <x:sequence>
                        <x:element name="appPackage" type="tns:nonEmptyString"/>
                        <x:element name="appActivity" type="tns:nonEmptyString"/>
                    </x:sequence>
                </x:choice>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="browserStackNativeCapabilities">
        <x:complexContent>
            <x:extension base="tns:browserStackCapabilities">
                <x:sequence>
                    <x:element name="app" type="tns:nonEmptyString"/>
                    <x:element name="googlePlayLogin" type="tns:googlePlayLogin" minOccurs="0"/>
                </x:sequence>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="googlePlayLogin">
        <x:sequence>
            <x:element name="email" type="tns:nonEmptyString"/>
            <x:element name="password" type="tns:nonEmptyString"/>
        </x:sequence>
    </x:complexType>
</x:schema>
