schema/redis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/scenario"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/scenario"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

  <x:include schemaLocation="shared.xsd"/>

  <x:complexType name="redis">
    <x:complexContent>
      <x:extension base="tns:abstractCommand">
        <x:sequence>
          <x:element name="query" type="tns:redisQuery" minOccurs="1" maxOccurs="unbounded"/>
        </x:sequence>
        <x:attribute name="alias" type="tns:aliasPattern" use="required"/>
        <x:attribute name="file" type="tns:expectedPattern" use="required"/>
      </x:extension>
    </x:complexContent>
  </x:complexType>

  <x:complexType name="redisQuery">
    <x:sequence>
      <x:element name="command" type="tns:nonEmptyString"/>
      <x:element name="arg" type="tns:nonEmptyString" maxOccurs="unbounded"/>
    </x:sequence>
  </x:complexType>

</x:schema>
