schema/ses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/scenario"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/scenario"
          elementFormDefault="qualified" jaxb:version="2.1">

    <x:include schemaLocation="shared.xsd"/>

    <x:complexType name="ses">
        <x:complexContent>
            <x:extension base="tns:abstractCommand">
                <x:sequence>
                    <x:element name="destination" type="tns:nonEmptyString"/>
                    <x:element name="source" type="tns:nonEmptyString"/>
                    <x:element name="message" type="tns:sesMessage"/>
                </x:sequence>
                <x:attribute name="alias" type="tns:aliasPattern" use="required"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="sesMessage">
        <x:sequence>
            <x:element name="body" type="tns:sesBody"/>
            <x:element name="subject" type="tns:sesTextContent"/>
        </x:sequence>
    </x:complexType>

    <x:complexType name="sesBody">
        <x:sequence>
            <x:element name="html" type="tns:sesTextContent"/>
            <x:element name="text" type="tns:sesTextContent"/>
        </x:sequence>
    </x:complexType>

    <x:complexType name="sesTextContent">
        <x:simpleContent>
            <x:extension base="tns:nonEmptyString">
                <x:attribute name="charset" type="x:string"/>
            </x:extension>
        </x:simpleContent>
    </x:complexType>

</x:schema>

