schema/shared.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/scenario"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/scenario"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:include schemaLocation="shared-restrictions.xsd"/>

    <x:complexType name="abstractCommand" abstract="true">
        <x:attribute name="comment" type="tns:stringMin10" use="required"/>
        <x:attribute name="threshold" type="tns:positiveIntegerMin1"/>
        <x:attribute name="condition" type="tns:nonEmptyString"/>
    </x:complexType>

    <x:complexType name="ui" abstract="true">
        <x:complexContent>
            <x:extension base="tns:abstractCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="abstractUiCommand" abstract="true">
        <x:complexContent>
            <x:extension base="tns:abstractCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="commandWithLocator" abstract="true">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:attribute name="locatorStrategy" type="tns:locatorStrategy" default="locatorId"/>
                <x:attribute name="locator" type="tns:nonEmptyString" use="required"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="commandWithOptionalLocator" abstract="true">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:attribute name="locatorStrategy" type="tns:locatorStrategy" default="locatorId"/>
                <x:attribute name="locator" type="tns:nonEmptyString"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:simpleType name="locatorStrategy">
        <x:restriction base="x:string">
            <x:enumeration value="locatorId"/>
            <x:enumeration value="xpath"/>
            <x:enumeration value="id"/>
            <x:enumeration value="class"/>
            <x:enumeration value="cssSelector"/>
            <x:enumeration value="text"/>
        </x:restriction>
    </x:simpleType>

    <x:complexType name="response">
        <x:sequence>
            <x:element name="header" type="tns:header" minOccurs="0" maxOccurs="unbounded"/>
        </x:sequence>
        <x:attribute name="code" type="tns:codePattern" default="200"/>
        <x:attribute name="file" type="tns:expectedPattern"/>
        <x:attribute name="mode" type="tns:mode" default="strict"/>
    </x:complexType>

    <x:simpleType name="mode">
        <x:restriction base="x:string">
            <x:enumeration value="strict"/>
            <x:enumeration value="lenient"/>
        </x:restriction>
    </x:simpleType>


    <x:complexType name="header">
        <x:attribute name="name" type="tns:headerName" use="required"/>
        <x:attribute name="data" type="tns:nonEmptyString" use="required"/>
    </x:complexType>

    <x:simpleType name="headerName" final="restriction">
        <x:restriction base="x:string">
            <x:pattern value="[a-zA-Z\-]+"/>
            <x:pattern value="\{\{.+\}\}"/>
        </x:restriction>
    </x:simpleType>

    <x:simpleType name="codePattern" final="restriction">
        <x:restriction base="x:int">
            <x:pattern value="[2-5]\d{2}"/>
        </x:restriction>
    </x:simpleType>

    <x:simpleType name="expectedPattern">
        <x:restriction base="x:string">
            <x:pattern value="expected_\d+.json"/>
            <x:pattern value="expected_\{\{.+\}\}.json"/>
            <x:pattern value="\{\{.+\}\}.json"/>
        </x:restriction>
    </x:simpleType>

    <x:complexType name="body">
        <x:choice>
            <x:element name="param" type="tns:param" minOccurs="0" maxOccurs="unbounded"/>
            <x:element name="multipart" type="tns:multipart" minOccurs="0"/>
            <x:element name="from" type="tns:file" minOccurs="0"/>
            <x:element name="raw" type="x:string" minOccurs="0"/>
        </x:choice>
    </x:complexType>

    <x:complexType name="param">
        <x:attribute name="name" type="tns:nonEmptyString" use="required"/>
        <x:attribute name="data" type="tns:nonEmptyString" use="required"/>
    </x:complexType>

    <x:complexType name="multipart">
        <x:choice maxOccurs="unbounded">
            <x:element name="param" type="tns:partParam" minOccurs="0" maxOccurs="unbounded"/>
            <x:element name="file" type="tns:partFile" minOccurs="0" maxOccurs="unbounded"/>
        </x:choice>
    </x:complexType>

    <x:complexType name="partParam">
        <x:attribute name="name" type="tns:nonEmptyString" use="required"/>
        <x:attribute name="contentType" type="tns:nonEmptyString"/>
        <x:attribute name="data" type="tns:nonEmptyString" use="required"/>
    </x:complexType>

    <x:complexType name="partFile">
        <x:attribute name="name" type="tns:nonEmptyString" use="required"/>
        <x:attribute name="contentType" type="tns:nonEmptyString"/>
        <x:attribute name="fileName" type="tns:nonEmptyString" use="required"/>
    </x:complexType>

    <x:complexType name="file">
        <x:attribute name="file" type="tns:httpRequestFileExtension" use="required"/>
    </x:complexType>

    <x:simpleType name="httpRequestFileExtension">
        <x:restriction base="x:string">
            <x:pattern value=".+(\.(json|graphql|gql))"/>
        </x:restriction>
    </x:simpleType>

    <x:simpleType name="endpointPattern">
        <x:restriction base="x:string">
            <x:minLength value="2"/>
            <x:pattern value="(/[^/].+)"/>
        </x:restriction>
    </x:simpleType>

    <x:simpleType name="bodyFile">
        <x:restriction base="x:string">
            <x:pattern value="body_\d+.json"/>
        </x:restriction>
    </x:simpleType>

    <x:simpleType name="webAttributeNamePattern">
        <x:restriction base="x:string">
            <x:pattern value="([a-zA-Z]+-?)+"/>
            <x:pattern value="\{\{.+\}\}"/>
        </x:restriction>
    </x:simpleType>

</x:schema>
