schema/twilio-integration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/global-config"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/global-config"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:include schemaLocation="shared-config.xsd"/>

    <x:complexType name="twilioIntegration">
        <x:choice maxOccurs="unbounded">
            <x:element name="twilio" type="tns:twilio"/>
        </x:choice>
    </x:complexType>


    <x:complexType name="twilio">
        <x:complexContent>
            <x:extension base="tns:integration">
                <x:sequence>
                    <x:element name="accountSid" type="tns:nonEmptyString"/>
                    <x:element name="authToken" type="tns:nonEmptyString"/>
                    <x:element name="twilioNumber" type="tns:nonEmptyString"/>
                </x:sequence>
            </x:extension>
        </x:complexContent>
    </x:complexType>
</x:schema>