schema/ui-commands.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/scenario"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/scenario"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:include schemaLocation="shared-restrictions.xsd"/>
    <x:include schemaLocation="shared.xsd"/>
    <x:include schemaLocation="wait.xsd"/>
    <x:include schemaLocation="var.xsd"/>
    <x:include schemaLocation="condition.xsd"/>
    <x:include schemaLocation="assert.xsd"/>

    <x:complexType name="click">
        <x:complexContent>
            <x:extension base="tns:commandWithLocator">
                <x:attribute name="method" type="tns:clickMethod"/>
                <x:attribute name="highlight" type="x:boolean" default="true"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="doubleClick">
        <x:complexContent>
            <x:extension base="tns:commandWithLocator">
                <x:attribute name="highlight" type="x:boolean" default="true"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:simpleType name="clickMethod">
        <x:restriction base="x:string">
            <x:enumeration value="selenium"/>
            <x:enumeration value="js"/>
        </x:restriction>
    </x:simpleType>

    <x:complexType name="javascript">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:attribute name="file" type="tns:jsFileExtension" use="required"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="hover">
        <x:complexContent>
            <x:extension base="tns:commandWithLocator">
                <x:attribute name="moveToEmptySpace" type="x:boolean" default="false"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="input">
        <x:complexContent>
            <x:extension base="tns:commandWithLocator">
                <x:attribute name="highlight" type="x:boolean" default="true"/>
                <x:attribute name="value" type="tns:nonEmptyString" use="required"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="navigate">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:attribute name="command" type="tns:navigateCommand" use="required"/>
                <x:attribute name="path" type="tns:slashStartedOrUrlString"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:simpleType name="navigateCommand">
        <x:restriction base="x:string">
            <x:enumeration value="back"/>
            <x:enumeration value="reload"/>
            <x:enumeration value="to"/>
        </x:restriction>
    </x:simpleType>

    <x:simpleType name="slashStartedOrUrlString">
        <x:restriction base="x:string">
            <x:minLength value="2"/>
            <x:pattern value="(/[^/].+)|(https?://.+)"/>
            <x:pattern value="\{\{.+\}\}"/>
        </x:restriction>
    </x:simpleType>

    <x:complexType name="dropDown">
        <x:complexContent>
            <x:extension base="tns:commandWithLocator">
                <x:choice>
                    <x:element name="oneValue" type="tns:oneValue"/>
                    <x:element name="allValues" type="tns:allValues"/>
                </x:choice>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="oneValue">
        <x:attribute name="type" type="tns:typeForOneValue" use="required"/>
        <x:attribute name="by" type="tns:selectOrDeselectBy" use="required"/>
        <x:attribute name="value" type="tns:nonEmptyString" use="required"/>
    </x:complexType>

    <x:simpleType name="typeForOneValue">
        <x:restriction base="x:string">
            <x:enumeration value="select"/>
            <x:enumeration value="deselect"/>
        </x:restriction>
    </x:simpleType>

    <x:simpleType name="selectOrDeselectBy">
        <x:restriction base="x:string">
            <x:enumeration value="text"/>
            <x:enumeration value="value"/>
            <x:enumeration value="index"/>
        </x:restriction>
    </x:simpleType>

    <x:complexType name="allValues">
        <x:attribute name="type" type="tns:typeForAllValues" use="required"/>
    </x:complexType>

    <x:simpleType name="typeForAllValues">
        <x:restriction base="x:string">
            <x:enumeration value="deselect"/>
            <x:enumeration value="select"/>
        </x:restriction>
    </x:simpleType>

    <x:complexType name="clear">
        <x:complexContent>
            <x:extension base="tns:commandWithLocator">
                <x:attribute name="highlight" type="x:boolean" default="true"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="browserTab">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:choice>
                    <x:element name="close" type="tns:closeTab"/>
                    <x:element name="open" type="tns:openTab"/>
                    <x:element name="switch" type="tns:switchTab"/>
                </x:choice>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="closeTab">
        <x:attribute name="index" type="tns:positiveIntegerMin1"/>
    </x:complexType>

    <x:complexType name="openTab">
        <x:attribute name="url" type="tns:slashStartedOrUrlString"/>
    </x:complexType>

    <x:complexType name="switchTab">
        <x:attribute name="index" type="tns:positiveIntegerMin1"/>
    </x:complexType>

    <x:complexType name="scroll">
        <x:complexContent>
            <x:extension base="tns:commandWithOptionalLocator">
                <x:attribute name="type" type="tns:scrollType" use="required"/>
                <x:attribute name="direction" type="tns:scrollDirection" default="down"/>
                <x:attribute name="value" type="x:int" use="required"/>
                <x:attribute name="measure" type="tns:scrollMeasure" default="pixel"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="switchToFrame">
        <x:complexContent>
            <x:extension base="tns:commandWithOptionalLocator">
                <x:choice maxOccurs="unbounded" minOccurs="0">
                    <x:element name="click" type="tns:click"/>
                    <x:element name="input" type="tns:input"/>
                    <x:element name="assert" type="tns:webAssert"/>
                    <x:element name="dropDown" type="tns:dropDown"/>
                    <x:element name="wait" type="tns:uiWait"/>
                    <x:element name="clear" type="tns:clear"/>
                    <x:element name="scroll" type="tns:scroll"/>
                    <x:element name="scrollTo" type="tns:scrollTo"/>
                    <x:element name="image" type="tns:image"/>
                    <x:element name="javascript" type="tns:javascript"/>
                    <x:element name="navigate" type="tns:navigate"/>
                    <x:element name="hover" type="tns:hover"/>
                    <x:element name="tab" type="tns:browserTab"/>
                    <x:element name="switchToFrame" type="tns:switchToFrame"/>
                    <x:element name="dragAndDrop" type="tns:dragAndDrop"/>
                    <x:element name="hotKey" type="tns:hotKey"/>
                    <x:element name="var" type="tns:webVar"/>
                    <x:element name="condition" type="tns:uiCondition"/>
                    <x:element name="doubleClick" type="tns:doubleClick"/>
                </x:choice>
                <x:attribute name="index" type="x:string"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="hotKey">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:choice maxOccurs="unbounded">
                    <x:element name="copy" type="tns:copy"/>
                    <x:element name="paste" type="tns:paste"/>
                    <x:element name="cut" type="tns:cut"/>
                    <x:element name="highlight" type="tns:highlight"/>
                    <x:element name="tab" type="tns:tab"/>
                    <x:element name="enter" type="tns:enter"/>
                    <x:element name="escape" type="tns:escape"/>
                    <x:element name="space" type="tns:space"/>
                    <x:element name="backSpace" type="tns:backSpace"/>
                </x:choice>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="copy">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="paste">
        <x:complexContent>
            <x:extension base="tns:commandWithOptionalLocator"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="cut">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="highlight">
        <x:complexContent>
            <x:extension base="tns:commandWithOptionalLocator"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="tab">
        <x:complexContent>
            <x:extension base="tns:singleKeyCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="enter">
        <x:complexContent>
            <x:extension base="tns:singleKeyCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="backSpace">
        <x:complexContent>
            <x:extension base="tns:singleKeyCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="escape">
        <x:complexContent>
            <x:extension base="tns:singleKeyCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="space">
        <x:complexContent>
            <x:extension base="tns:singleKeyCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="singleKeyCommand">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:attribute name="times" type="tns:positiveIntegerMin1" default="1"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:simpleType name="scrollType">
        <x:restriction base="x:string">
            <x:enumeration value="inner"/>
            <x:enumeration value="page"/>
        </x:restriction>
    </x:simpleType>

    <x:simpleType name="scrollDirection">
        <x:restriction base="x:string">
            <x:enumeration value="up"/>
            <x:enumeration value="down"/>
        </x:restriction>
    </x:simpleType>

    <x:simpleType name="scrollMeasure">
        <x:restriction base="x:string">
            <x:enumeration value="pixel"/>
            <x:enumeration value="percent"/>
        </x:restriction>
    </x:simpleType>

    <x:complexType name="scrollTo">
        <x:complexContent>
            <x:extension base="tns:commandWithLocator"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="image">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:choice>
                    <x:element name="fullScreen" type="tns:webFullScreen"/>
                    <x:element name="picture" type="tns:picture"/>
                    <x:element name="part" type="tns:part"/>
                </x:choice>
                <x:attribute name="file" type="tns:imageExtension" use="required"/>
                <x:attribute name="highlightDifference" type="x:boolean" default="false"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="mobileImage">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:choice>
                    <x:element name="fullScreen" type="tns:fullScreen"/>
                    <x:element name="picture" type="tns:picture"/>
                    <x:element name="part" type="tns:part"/>
                </x:choice>
                <x:attribute name="file" type="tns:imageExtension" use="required"/>
                <x:attribute name="highlightDifference" type="x:boolean" default="false"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="nativeImage">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:choice>
                    <x:element name="fullScreen" type="tns:fullScreen"/>
                    <x:element name="part" type="tns:part"/>
                </x:choice>
                <x:attribute name="file" type="tns:imageExtension" use="required"/>
                <x:attribute name="highlightDifference" type="x:boolean" default="false"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="fullScreen">
        <x:attribute name="percentage" type="tns:positiveDoubleMin0Max100"/>
    </x:complexType>

    <x:complexType name="webFullScreen">
        <x:complexContent>
            <x:extension base="tns:fullScreen">
                <x:choice minOccurs="0" maxOccurs="unbounded">
                    <x:element name="exclude" type="tns:exclude"/>
                </x:choice>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="picture">
        <x:attribute name="locator" type="tns:nonEmptyString" use="required"/>
        <x:attribute name="locatorStrategy" type="tns:locatorStrategy" default="locatorId"/>
        <x:attribute name="attribute" type="tns:nonEmptyString" default="src"/>
    </x:complexType>

    <x:complexType name="part">
        <x:attribute name="locator" type="tns:nonEmptyString" use="required"/>
        <x:attribute name="locatorStrategy" type="tns:locatorStrategy" default="locatorId"/>
        <x:attribute name="percentage" type="tns:positiveDoubleMin0Max100"/>
    </x:complexType>

    <x:complexType name="dragAndDrop">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:choice>
                    <x:element name="fromLocator" type="tns:nonEmptyString"/>
                    <x:element name="fileName" type="tns:nonEmptyString"/>
                </x:choice>
                <x:attribute name="toLocator" type="tns:nonEmptyString" use="required"/>
                <x:attribute name="toLocatorStrategy" type="tns:locatorStrategy" default="locatorId"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="dragAndDropNative">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand">
                <x:attribute name="fromLocator" type="tns:nonEmptyString" use="required"/>
                <x:attribute name="fromLocatorStrategy" type="tns:locatorStrategy" default="locatorId"/>
                <x:attribute name="toLocator" type="tns:nonEmptyString" use="required"/>
                <x:attribute name="toLocatorStrategy" type="tns:locatorStrategy" default="locatorId"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="refresh">
        <x:complexContent>
            <x:extension base="tns:abstractUiCommand"/>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="exclude">
        <x:attribute name="locator" type="tns:nonEmptyString" use="required"/>
        <x:attribute name="locatorStrategy" type="tns:locatorStrategy" default="locatorId"/>
    </x:complexType>

    <x:simpleType name="positiveDoubleMin0Max100">
        <x:restriction base="x:double">
            <x:minInclusive value="0"/>
            <x:maxInclusive value="100"/>
        </x:restriction>
    </x:simpleType>
</x:schema>
