schema/websocket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://www.knubisoft.com/testlum/testing/model/scenario"
          xmlns:tns="http://www.knubisoft.com/testlum/testing/model/scenario"
          elementFormDefault="qualified"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <x:include schemaLocation="shared.xsd"/>

    <x:complexType name="websocket">
        <x:complexContent>
            <x:extension base="tns:abstractCommand">
                <x:choice>
                    <x:choice>
                        <x:element name="stomp" type="tns:websocketStomp"/>
                    </x:choice>
                    <x:choice maxOccurs="unbounded">
                        <x:element name="send" type="tns:websocketSend"/>
                        <x:element name="receive" type="tns:websocketReceive"/>
                    </x:choice>
                </x:choice>
                <x:attribute name="alias" type="tns:aliasPattern" use="required"/>
                <x:attribute name="disconnect" type="x:boolean" default="true"/>
            </x:extension>
        </x:complexContent>
    </x:complexType>

    <x:complexType name="websocketStomp">
        <x:choice maxOccurs="unbounded">
            <x:element name="subscribe" type="tns:websocketSubscribe"/>
            <x:element name="send" type="tns:websocketSend"/>
            <x:element name="receive" type="tns:websocketReceive"/>
        </x:choice>
    </x:complexType>

    <x:complexType name="websocketSubscribe">
        <x:attribute name="comment" type="tns:stringMin10" use="required"/>
        <x:attribute name="topic" type="tns:endpointPattern" use="required"/>
    </x:complexType>

    <x:complexType name="websocketSend">
        <x:sequence>
            <x:choice>
                <x:element name="message" type="tns:nonEmptyString"/>
                <x:element name="file" type="tns:bodyFile"/>
            </x:choice>
        </x:sequence>
        <x:attribute name="comment" type="tns:stringMin10" use="required"/>
        <x:attribute name="endpoint" type="tns:endpointPattern"/>
    </x:complexType>

    <x:complexType name="websocketReceive">
        <x:choice>
            <x:element name="message" type="tns:nonEmptyString"/>
            <x:element name="file" type="tns:expectedPattern"/>
        </x:choice>
        <x:attribute name="comment" type="tns:stringMin10" use="required"/>
        <x:attribute name="topic" type="tns:endpointPattern"/>
        <x:attribute name="limit" type="x:positiveInteger"/>
        <x:attribute name="timeoutMillis" type="x:long" default="0"/>
    </x:complexType>

</x:schema>
